body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(238, 239, 234, 0.284);
}


#calulator{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(69, 65, 65);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5em;
    text-align: left;
    border: none;
    background-color: rgb(69, 65, 65);
    color: antiquewhite;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(143, 131, 131, 0.126);
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: beige;
}

button:active{
    background-color: rgb(154, 188, 188);
}


.operator-btn{
    background-color: rgba(207, 114, 80, 0.759);
}

.operator-btn:hover{
    background-color: rgba(22, 168, 209, 0.759);
}

.operator-btn{
    background-color: rgba(225, 31, 31, 0.759);
}


